$breakpoint: 640px;
$font-family: journal, sans-serif;

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background: black;
    color: white;

    -webkit-font-smoothing: antialiased;
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

main.container {
    max-width: 1280px;
    margin: 0 auto;
}

a[href] {
    color: white;
}

header.header {
    display: flex;
    margin-top: 64px;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;

    .colour-bars {
        width: 32px;
        margin: 0 32px;
        min-width: 32px;
    }

    .header-logo {
        max-width: 240px;
        height: auto;
        margin: 0;

        > img {
            max-width: 100%;
            height: auto;
        }
    }

    .header-content {
        overflow: hidden;
    }

    .header-description {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin-top: 24px;

        p {
            line-height: 1.2;
        }
    }

    .header-description > section > p:first-child {
        margin-top: 0;
    }

    .header-description > figure {
        width: 50%;
        margin: 0;
        margin-left: 32px;
        flex-shrink: 0;
    }

    .header-description > figure > img {
        width: 100%;
        height: auto;
    }

    @media (max-width: $breakpoint) {
        //flex-direction: column;

        .header-description {
            flex-direction: column;
            margin-right: 16px;
            //align-items: center;


            figure {
                width: auto;
                margin: 32px 48px 0 0;
            }
        }

        .colour-bars {
            margin: 0 16px;
        }
    }
}

.button {
    display: inline-block;
    padding: 8px 32px;
    margin: 8px;
    background: #1199da;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    border: 0;
    font-family: $font-family;

    transition: background .3s;

    &:disabled {
        background: mix(white, darken(#1199da, 10%), 30%);
    }

    &:active {
        background: darken(#1199da, 10%);
    }
}

.submissions-grid {
    $row-height: 256px;
    $cell-spacing: 1rem;

    display: flex;
    flex-wrap: wrap;


    @for $i from 1 through 36 {
        figure:nth-child(#{$i}) {
            $h: (random(400) + 70) + px;

            width: $h;
        }
    }

    > figure {
        position: relative;
        height: $row-height;
        background: pink;
        overflow: hidden;

        color: white;
        margin: 0 $cell-spacing $cell-spacing 0;

        flex: 1 0 auto;

        img {
            width: 100%;
            height: 0;
            padding-top: 80%;
        }

        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 48px 24px 24px;
            background: linear-gradient(transparent, black);
            line-height: 1.2;

            p {
                margin: 0;
            }
        }

        .submission-creator {
            font-weight: bold;
        }

        .submission-institution {
            color: rgba(white, .75);
        }
    }
}
