
$breakpoint: 640px;
$font-family: journal, sans-serif;

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background: black;
    color: white;

    -webkit-font-smoothing: antialiased;
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

main.container {
    //max-width: 1280px;
    margin: 0 auto;
}

a[href] {
    color: white;
}

header.header {
    display: flex;
    margin-top: 64px;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;

    .colour-bars {
        width: 32px;
        margin: 0 32px;
        min-width: 32px;
    }

    .header-logo {
        max-width: 240px;
        height: auto;
        margin: 0;

        > img {
            max-width: 100%;
            height: auto;
        }
    }

    .header-content {
        overflow: hidden;
    }

    .header-description {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin-top: 24px;

        p {
            line-height: 1.2;
        }
    }

    .header-description > section > p:first-child {
        margin-top: 0;
    }

    .header-description > figure {
        width: 50%;
        margin: 0;
        margin-left: 32px;
        flex-shrink: 0;
    }

    .header-description > figure > img {
        width: 100%;
        height: auto;
    }

    @media (max-width: $breakpoint) {
        //flex-direction: column;

        .header-description {
            flex-direction: column;
            margin-right: 16px;
            //align-items: center;


            figure {
                width: auto;
                margin: 32px 48px 0 0;
            }
        }

        .colour-bars {
            margin: 0 16px;
        }
    }
}

.button {
    display: inline-block;
    padding: 8px 32px;
    margin: 8px;
    background: #1199da;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    border: 0;
    font-family: $font-family;

    transition: background .3s;

    &:disabled {
        background: mix(white, darken(#1199da, 10%), 30%);
    }

    &:active {
        background: darken(#1199da, 10%);
    }
}

.submission-controls {
    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 24px;
    background: black;

    .grid-sizes {
        margin-right: auto;
    }

    .category-select {
        width: 256px;
        margin-left: auto;
    }
}

.submissions-grid {
    $row-height: 300px;
    $cell-spacing: 1rem;

    display: flex;
    flex-wrap: wrap;

    min-height: 24px;

    &.small {
        figure {
        }
    }

    > figure {
        position: relative;
        height: $row-height;
        background: pink;
        overflow: hidden;

        color: white;
        margin: 0 $cell-spacing $cell-spacing 0;

        flex: 1 0 auto;

        img {
            width: 100%;
        }

        figcaption {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 48px 24px 24px;
            background: linear-gradient(transparent, black);
            line-height: 1.2;

            p {
                margin: 0;
            }
        }

        .submission-creator {
            font-weight: bold;
        }

        .submission-institution {
            color: rgba(white, .75);
        }
    }
}

$vs-colors: (
    lightest: rgba(white, 0.26),
    light: rgba(white, 0.5),
    dark: white,
    darkest: rgba(white, .15),
) !default;

//  Global Component Variables
$vs-component-line-height: 1.4 !default;
$vs-component-placeholder-color: white !default;

//  Active State
$vs-state-active-bg: #5897fb !default;
$vs-state-active-color: #fff !default;

//  Disabled State
$vs-state-disabled-bg: rgb(248, 248, 248) !default;
$vs-state-disabled-color: map_get($vs-colors, 'light') !default;
$vs-state-disabled-controls-color: map_get($vs-colors, 'light') !default;
$vs-state-disabled-cursor: not-allowed !default;

//  Borders
$vs-border-width: 1px !default;
$vs-border-style: solid !default;
$vs-border-radius: 4px !default;
$vs-border-color: map_get($vs-colors, 'lightest') !default;

//  Component Controls: Clear, Open Indicator
$vs-controls-color: map_get($vs-colors, 'light') !default;
$vs-controls-size: 1 !default;
$vs-controls-deselect-text-shadow: 0 1px 0 #fff;

//  Selected
$vs-selected-bg: #f0f0f0 !default;
$vs-selected-border-color: $vs-border-color !default;
$vs-selected-border-style: $vs-border-style !default;
$vs-selected-border-width: $vs-border-width !default;

//  Dropdown
$vs-dropdown-z-index: 1000 !default;
$vs-dropdown-min-width: 160px !default;
$vs-dropdown-max-height: 350px !default;
$vs-dropdown-box-shadow: 0px 3px 6px 0px map_get($vs-colors, 'darkest') !default;
$vs-dropdown-bg: #fff !default;

@import "../node_modules/vue-select/src/scss/vue-select.scss";
