<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover tomorrows talent from the largest collection of design graduate work from 2020 that you can enjoy from your own home.">

    <title>Nationwide Degree Show - Fresh Meet</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg">
    <link rel="alternate icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="manifest" href="./manifest.webmanifest">

    <link rel="stylesheet" href="./app.scss">
    <link rel="stylesheet" href="https://use.typekit.net/dla6bwy.css">
</head>
<body>

<main class="container" id="app" >
    <header class="header">
        <div class="header-content">
            <h1 class="header-logo">
                <img src="assets/logo.png"
                     alt="Nationwide Degree Show">
            </h1>
        </div>
    </header>

    <nav class="submission-controls" v-cloak>
        <div class="grid-sizes">
            <button @click="changeSize(-100)" :disabled="size == 100">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <line y1="11.5" x2="48" y2="11.5" stroke="currentColor"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="24" height="24" fill="currentColor"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>

            <button @click="changeSize(100)" :disabled="size == 500">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="12.25" y1="2.18557e-08" x2="12.25" y2="24" stroke="currentColor"/>
                    <line y1="11.25" x2="24" y2="11.25" stroke="currentColor"/>
                </svg>
            </button>
        </div>

        <div class="category-select">
            <v-select :options="categories"
                      v-model="selectedCategory"
                      placeholder="Showing all">
            </v-select>
        </div>
    </nav>

    <section class="submissions-grid-container" v-cloak>
        <div class="submissions-grid">
            <figure v-for="submission in submissions"
                    :style="submissionStyle(submission)"
                    @click="selectedSubmission = submission"
                    v-intersect>

                <img alt="Submission"
                     v-if="submission.thumb_name"
                     v-lazy="'/submissions/thumbs/800/' + submission.thumb_name">

                <figcaption>
                    <p class="submission-creator">{{ submission.name }}</p>
                </figcaption>
            </figure>
        </div>

        <infinite-loading :identifier="infiniteId" @infinite="fetch"></infinite-loading>
    </section>

    <footer>
        If you got this far, well done you! For more projects like this, take a look at <a href="https://instagram.com/_freshmeet">Fresh Meet</a>.
    </footer>

    <submission-modal :showing="selectedSubmission"
                      @close="selectedSubmission = null"
                      @next="nextSubmission()"
                      @previous="previousSubmission()"
                      v-cloak>
        <template v-if="selectedSubmission">
            <img alt="Submission"
                 ref="selectedSubmissionImage"
                 v-if="selectedSubmission.thumb_name"
                 v-bind:src="'/submissions/thumbs/2000/' + selectedSubmission.thumb_name"
                 @load="matchDetailsWithImage()">

            <div class="submission-details"
                 ref="selectedSubmissionDetails"
                 v-if="selectedSubmission.thumb_name">
                <h2>{{ selectedSubmission.name }}</h2>

                <p class="submission-website" v-if="selectedSubmission.website">
                    <a :href="selectedSubmission.website">{{ selectedSubmission.website }}</a>
                </p>

                <p class="submission-instagram" v-if="selectedSubmission.instagram">
                    <a :href="selectedSubmission.instagram">{{ selectedSubmission.instagram }}</a>
                </p>

                <p class="submission-description">{{ selectedSubmission.description }}</p>
            </div>
        </template>
    </submission-modal>
</main>

<script type="text/x-template" id="submission-modal">
    <transition name="modal">
        <div class="modal-mask"
             v-if="showing"
             @click="$emit('close')">
            <div class="modal-wrapper">
                <div class="modal-previous" @click.stop="$emit('previous')">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <g clip-path="url(#clip0)" stroke="#fff">
                            <path d="M37.312-.605l-25 25M35.646 48.354l-24-24"/>
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <path fill="#fff" d="M0 0h48v48H0z"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>

                <div class="modal-container">
                    <div class="modal-content" @click.stop="">
                        <slot></slot>
                    </div>
                </div>

                <div class="modal-next" @click.stop="$emit('next')">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <g clip-path="url(#clip0)" stroke="#fff">
                            <path d="M11.605 47.646l25-25M13.27-1.312l24 24"/>
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <path fill="#fff" d="M0 0h48v48H0z"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>

                <div class="modal-close" @click="$emit('close')">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <g clip-path="url(#clip0)" stroke="#fff">
                            <path d="M48.354.354L.27 48.437M47.646 48.354L-.437.27"/>
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <path fill="#fff" d="M0 0h48v48H0z"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </transition>
</script>


<script src="./app.ts"></script>

</body>
</html>
